<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zqb.photogallery">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activities.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.MyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 瀑布流效果 -->
        <activity android:name=".activities.WaterfallFlowActivity"></activity>
        <!-- GridView效果 -->
        <activity android:name=".activities.MainActivity" />

        <!-- 查看图片详情活动，可缩放和左右切换图片 -->
        <activity android:name=".activities.ImageDetailActivity" />
        <activity android:name=".activities.PicViewerActivity" />

        <!-- GridView效果 -->
        <activity android:name=".activities.WaterfallFlowUseRecyclerViewActivity">
        </activity>

    </application>

</manifest>